{% if is_xhr is not defined %}
<!DOCTYPE html>
<html lang="{{ lang() }}">
<head>
    <meta charset="utf-8">
    <title>{{ title + " | " if title|default(False) else "" }}{% trans %}Turris router administration interface{% endtrans %}</title>
    <!--[if gt IE 8]><!--><link href="{{ static("css/screen.css") }}" rel="stylesheet" media="screen"><!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="{{ static("js/contrib/html5.js") }}"></script>
        <link href="{{ static("css/ie8.css") }}" rel="stylesheet" media="screen">
    <![endif]-->
    <link rel="shortcut icon" href="{{ static("img/favicon.ico") }}">
    {% if PLUGIN_STYLES is defined and PLUGIN_STYLES %}
      {% for static_filename in PLUGIN_STYLES %}
    <link href="{{ static("plugins/%s/%s" % (PLUGIN_NAME, static_filename)) }}" rel="stylesheet" media="screen">
      {% endfor %}
    {% endif %}
    <link href="{{ static("css/fa-regular.min.css") }}" rel="stylesheet" media="screen">
    <link href="{{ static("css/fa-solid.min.css") }}" rel="stylesheet" media="screen">
    <link href="{{ static("css/fontawesome.min.css") }}" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if foris_info.websockets["ws_port"] %}
    <meta name="foris-ws-port" content="{{ str(foris_info.websockets["ws_port"]) }}">
    {% endif %}
    {% if foris_info.websockets["ws_path"] %}
    <meta name="foris-ws-path" content="{{ foris_info.websockets["ws_path"] }}">
    {% endif %}
    {% if foris_info.websockets["wss_port"] %}
    <meta name="foris-wss-port" content="{{ str(foris_info.websockets["wss_port"]) }}">
    {% endif %}
    {% if foris_info.websockets["wss_path"] %}
    <meta name="foris-wss-path" content="{{ foris_info.websockets["wss_path"] }}">
    {% endif %}
    <script src="{{ static("js/contrib/jquery.min.js") }}"></script>
    <script src="{{ static("js/contrib/parsley.min.js") }}"></script>
    <script src="{{ static("js/parsley.foris-extend.js") }}"></script>
    <script src="{{ static("js/foris.js") }}"></script>
    <script src="{{ generated_static("javascript/foris.js") }}"></script>
    <script src="{{ generated_static("javascript/parsley.messages.js") }}"></script>
    {% if PLUGIN_STATIC_SCRIPTS is defined and PLUGIN_STATIC_SCRIPTS %}
      {% for static_filename in PLUGIN_STATIC_SCRIPTS %}
    <script src="{{ static("plugins/%s/%s" % (PLUGIN_NAME, static_filename)) }}"></script>
      {% endfor %}
    {% endif %}
    {% if PLUGIN_DYNAMIC_SCRIPTS is defined and PLUGIN_DYNAMIC_SCRIPTS %}
      {% for static_filename in PLUGIN_DYNAMIC_SCRIPTS %}
    <script src="{{ generated_static("javascript/" + PLUGIN_NAME + "/" + filename) }}"></script>
      {% endfor %}
    {% endif %}
</head>
<body>
{% endif %}
    {% block base %}
    {% endblock %}
{% if is_xhr is not defined %}
</body>
</html>
{% endif %}
