/* line 17, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.1") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 4, ../sass/font-awesome/_core.scss */
.fa, .icon-debug, .icon-edit, .icon-add-list, .icon-add, .icon-remove {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 8, ../sass/partial/_icons.sass */
.icon-debug:before {
  content: "\f188";
}

/* line 11, ../sass/partial/_icons.sass */
.icon-edit:before {
  content: "\f040";
}

/* line 14, ../sass/partial/_icons.sass */
.icon-add-list:before {
  content: "\f022";
}

/* line 17, ../sass/partial/_icons.sass */
.icon-remove:before {
  content: "\f00d";
}

/* line 20, ../sass/partial/_icons.sass */
.icon-add:before {
  content: "\f067";
}

/* line 1, ../sass/partial/_treeview.sass */
.treeview ul,
.treeview li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 8, ../sass/partial/_treeview.sass */
.treeview input {
  position: absolute;
  opacity: 0;
}

/* line 13, ../sass/partial/_treeview.sass */
.treeview input + label ~ ul {
  margin-left: 32px;
}

/* line 17, ../sass/partial/_treeview.sass */
.treeview input ~ ul {
  display: none;
}

/* line 21, ../sass/partial/_treeview.sass */
.treeview label,
.treeview label::before {
  cursor: pointer;
}

/* line 26, ../sass/partial/_treeview.sass */
.treeview input:disabled + label {
  cursor: default;
  opacity: 0.6;
}

/* line 31, ../sass/partial/_treeview.sass */
.treeview input:checked:not(:disabled) ~ ul {
  display: block;
}

/* line 35, ../sass/partial/_treeview.sass */
.treeview label::before {
  font-family: FontAwesome;
  font-size: 1.1em;
  margin-right: 0.5em;
}

/* line 41, ../sass/partial/_treeview.sass */
.treeview label,
.treeview a,
.treeview label::before {
  height: 16px;
  line-height: 16px;
}

/* line 48, ../sass/partial/_treeview.sass */
.treeview label {
  background-position: 18px 0;
}

/* line 52, ../sass/partial/_treeview.sass */
.treeview label::before {
  content: "\f116";
  vertical-align: middle;
}

/* line 57, ../sass/partial/_treeview.sass */
.treeview input:checked + label::before {
  content: "\f117";
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* line 64, ../sass/partial/_treeview.sass */
  .treeview {
    -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
  }

  @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
    /* line 68, ../sass/partial/_treeview.sass */
    from {
      padding: 0;
    }

    /* line 70, ../sass/partial/_treeview.sass */
    to {
      padding: 0;
    }
}
}
/* line 5, ../sass/screen.sass */
#page {
  margin: 1em 2em;
  min-width: 40em;
}
