<div id="subordinates-edit" {% if hide %}style="display: none"{% endif %}>
    <h3>{{ ajax_form.title }}</h3>
    {% include 'config/_message.html.j2' %}
    <form id="sub-form" class="config-form" action="{{ ajax_form.url }}" method="post" autocomplete="off" novalidate>
        <p class="config-description">{{ form.sections[0].description|safe }}</p>
        <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
        <input type="hidden" name="action" value="{{ form.name }}">
        {% for field in form.active_fields %}
            {% include '_field.html.j2' %}
        {% endfor %}
        <div id="{{ 'form-%s-buttons' % form.name }}" class="form-buttons">
            <a href="#" class="button grayed">{% trans %}Close{% endtrans %}</a>
            <button type="submit" name="apply" class="button">{% trans %}Apply{% endtrans %}</button>
        </div>
    </form>
</div>
