{% for section in form.sections %}
    {% if section.active_fields %}
        <br />
        <h4>{{ section.title }}</h4>
        {% if section.description %}
            <p class="config-section-description">{{ section.description }}</p>
        {% endif %}
        {% for field in section.active_fields %}
            {% set radio_number = field.name.strip("abcdefghijklmnopqrstuvwxyz-_") %}
            {% include '_field.html.j2' %}
            {% if field.name.endswith("-hwmode") and form.band_conflict %}
        <div class="row">
            <div class="server-validation-container-persistent">
                <ul>
                    <li>{% trans %}You set both WiFi cards to the same band. This usually does not make sense, could make cards interfere with each other (thus hinder performance) and might violate local regulation as well.{% endtrans %}</li>
                </ul>
            </div>
        </div>
            {% endif %}
            {% if field.name.endswith("-password") %}
        <div class="wifi-qr row" id="wifi-qr-{{ radio_number }}">
            <img src="{{ static("img/QR_icon.svg") }}" alt="{% trans %}QR code{% endtrans %}" title="{% trans %}Show QR code{% endtrans %}">
            <div id="wifi-qr-radio{{ radio_number }}" class="wifi-qr-box"></div>
        </div>
            {% endif %}
            {% if field.name.endswith("guest_password") %}
        <div class="wifi-qr row" id="wifi-qr-guest-{{ radio_number }}">
            <img src="{{ static("img/QR_icon.svg") }}" alt="{% trans %}QR code{% endtrans %}" title="{% trans %}Show QR code{% endtrans %}">
            <div id="wifi-qr-guest-radio{{ radio_number }}" class="wifi-qr-box"></div>
        </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
