{% extends 'config/base.html.j2' %}

{% block config_base %}
<div id="page-about" class="config-page">
    {% include '_messages.html.j2' %}
    <table>
        <tbody>
            <tr>
                <th>{% trans %}Device{% endtrans %}</th>
                <td>{{ data['model'] }}</td>
            </tr>
            <tr>
                <th>{% trans %}Serial number{% endtrans %}</th>
                <td>{{ data['serial']|int(base=16) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Turris OS version{% endtrans %}</th>
                {% if data['os_branch']['mode'] == 'version' %}
                <td>{{ data['os_version'] }} ({{ data['os_branch']['value'] }})</td>
                {% else %}
                <td>{{ data['os_version'] }}</td>
                {% endif %}
            </tr>
            {% if data['os_branch']['mode'] == 'branch' %}
            <tr>
                <th>{% trans %}Turris OS branch{% endtrans %}</th>
                <td>{{ data['os_branch']['value'] }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans %}Kernel version{% endtrans %}</th>
                <td>{{ data['kernel'] }}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
