{% extends 'config/base.html.j2' %}

{% block config_base %}
<div id="page-about" class="config-page">
    {% include '_messages.html.j2' %}
    <table>
        <tbody>
            <tr>
                <th>{% trans %}Device{% endtrans %}</th>
                <td>{{ data['model'] }}</td>
            </tr>
            <tr>
                <th>{% trans %}Serial number{% endtrans %}</th>
                <td>{{ data['serial']|int(base=16) }}</td>
            </tr>
            <tr>
                <th>{% trans %}Turris OS version{% endtrans %}</th>
                <td>{{ data['os_version'] }}</td>
            </tr>
            <tr>
                <th>{% trans %}Kernel version{% endtrans %}</th>
                <td>{{ data['kernel'] }}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
