{% extends '_layout.html.j2' %}

{% macro write_active(page) -%}
{% if active_config_page_key is defined and active_config_page_key == page.slug %} active{% endif %}
{% endmacro -%}

{% macro render_menu_item(page, parent, display) -%}
  {% if page.is_visible() and page.is_enabled() %}
  <li class="{{ write_active(page) }}{% if parent %} submenu-item parent-name-{{ parent.slug }}{% endif %}{% if active_config_page_key in page.subpage_slugs() %} subpage-active{% endif %}{% if page.no_url %} nav-expandable{% endif %}" {% if not display %}style="display: none;"{% endif %} data-self-name="{{ page.slug if page.slug else "" }}">
      <a href="{{ url("config_page", page_name=page.slug) if not page.no_url else "#" }}">{% if parent %}<i class="fas fa-level-up-alt rotate-90"></i> {% endif %}{{ page.menu_title if page.menu_title else page.userfriendly_title }}
    {% if page.subpages and active_config_page_key not in page.subpage_slugs() %}
    <span title="{% trans %}Expandable{% endtrans %}" id="{{ page.slug }}_expand" class="expand-tag"><i class='fas fa-caret-square-down'></i></span>
    {% elif page.get_menu_tag()["show"] %}
        <span title="{{ page.get_menu_tag()["hint"]}}" style="{{"" if page.get_menu_tag()["show"] else "display: none" }}" id="{{ page.slug }}_menu_tag" class="menu-tag">
  {{ page.get_menu_tag()["text"]|safe }}
        </span>
    {% endif %}
      </a>
  </li>
  {% elif page.is_visible() %}
        <li><span class="link-disabled"{% if not display %}style="display: none;"{% endif %}>{{ page.userfriendly_title }}</span></li>
  {% endif %}
{% endmacro -%}

{% block base %}

{% if is_xhr is not defined %}
    <div id="header">
        <div class="sidebar-content">
            <div class="logo-ordinary">
                <a href="{{ url("config_index") }}">
                    <img src="{{ static("img/logo-turris.svg") }}" alt="{% trans %}Foris - administration interface of router Turris{% endtrans %}" class="header-side">
                </a>
            </div>
            <div class="config-turris-device">
                {% include '_turris_device.html.j2' %}
            </div>
            <div class="config-foris-version">
                {% include '_foris_version.html.j2' %}
            </div>
            <div class="header-top">
              <a href="#menu" class="menu-link"><img src="{{ static("img/icon-menu.png") }}" alt="{% trans %}Menu{% endtrans %}" title="{% trans %}Menu{% endtrans %}"></a>
              <div class="logo-mobile">
              <a href="{{ url("config_index") }}"><img src="{{ static("img/logo-turris.svg") }}" alt="{% trans %}Foris - administration interface of router Turris{% endtrans %}"></a>
              </div>
            </div>
        </div>
    </div>
    <div id="content-wrap">
        <div id="content">
          {% if foris_info.guide.enabled %}
          <div id="guide-box">
              <p class="guide-title">{% trans %}foris guide{% endtrans %}{% if foris_info.guide.workflow_title %} - {{ foris_info.guide.workflow_title }}{% endif %}</p>
            {% for msg in foris_info.guide.message(active_config_page_key) %}
            <p>{{ msg|safe }}</p>
            {% endfor %}
            <div class="guide-buttons">
              <form method="post" action="{{ url("reset_guide") }}">
                <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
                <button type="submit" name="target" class="button" value="save"><i class='fas fa-undo'></i> {% trans %}Reset Guided Mode{% endtrans %}</button>
              </form>
              <form method="post" action="{{ url("leave_guide") }}">
                <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">
              {% if foris_info.guide.display_leave_guide(foris_info.guide.current == active_config_page_key) %}
                <button type="submit" name="target" class="button" value="save"><i class='fas fa-times'></i> {% trans %}Leave Guided Mode{% endtrans %}</button>
                <a class="button{% if foris_info.guide.current == active_config_page_key %} disabled{% endif %}" href="{{ url("config_page", page_name=foris_info.guide.current) }}"><i class='fas fa-share'></i> {% trans %}Next step{% endtrans %}</a>
              {% endif %}
              </form>
            </div>
          </div>
          {% endif %}
          <div id="reboot-required-notice" style='display: {{ "block" if foris_info.reboot_required else "none" }}'>
            <div id="reboot-required-button-container">
              <span>{% trans %}Your router needs to be restarted in order to work properly.{% endtrans %}</span>
              <a href="{{ url("reboot")}}" class="button" id="reboot-required-button">{% trans %}Reboot now{% endtrans %}</a>
            </div>
          </div>
          {% set reforis_redirect = helpers.reforis_redirect(request) %}
          {% if reforis_redirect %}
          <div id="reforis-redirect" class="message warning">
            <span>
            {% trans %}
                This config page has been deprecated. Although it still might work,
                you are adviced to use the newer configuration interface
            {% endtrans %}
            </span>
            <a href="{{ reforis_redirect }}">ReForis</a>.
          </div>
          {% endif %}
          <h1>{{ title }}</h1>
{% endif %}
{% block config_base %}{% endblock %}
{% if is_xhr is not defined %}
        </div>
    </div>
    <div id="menu">
        <div class="sidebar-content">
            <nav>
                <ul>
                {% for config_page in get_config_pages() %}
                    {{ render_menu_item(config_page, None, True) }}
                    {% if config_page.is_visible() and config_page.is_enabled() %}
                      {% for subpage in config_page.subpages %}
                          {{ render_menu_item(subpage, config_page, config_page.slug == active_config_page_key or active_config_page_key in config_page.subpage_slugs()) }}
                      {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>

            <div id="subnav">
              <div id="logout">
                <a href="{{ url("logout") }}">{% trans %}Log out{% endtrans %}</a>
              </div>
              <div id="language-switch">
                {% if translations == ["en"] and lang() == "en" %}
                <a href="{{ url("config_page", page_name="updater") }}#language-install">{{ translation_names.get("en") }}</a>
                {% else %}
                <span>{{ translation_names.get(lang(), lang()) }}</span>
                {% endif %}
                <ul>
                  {% for code in translations %}
                    {% if code != lang() %}
                      <li><a href="{{ url("change_lang", lang=code, backlink=request.fullpath) }}">{{ translation_names.get(code, code) }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
        </div>
    </div>
    <div class="sidebar-cleaner"></div>
{% endif %}

{% endblock %}
