$nav-item-height: 3em
$nav-item-border: 2px solid #ddd

#menu nav
  ul
    li
      background: $sidebar-background-color

      &::before
        display: block
        content: " "
        border-top: $nav-item-border
        margin: 0 0.7em

      a
        font-weight: bold
        font-size: 85%
        text-decoration: none
        text-transform: uppercase
        color: $sidebar-foreground-color
        display: block
        height: $nav-item-height + 1em
        line-height: $nav-item-height + 1em
        padding: 0.2em 1.5em

        &:hover
          text-decoration: underline

      &:last-child
        &::after
          display: block
          content: " "
          border-bottom: $nav-item-border
          margin: 0 0.7em

      &.active
        background: $sidebar-active-tab-color
        font-weight: bold

        &::before, &::after
          border-color: $sidebar-active-tab-color

        & + li::before
          border-color: $sidebar-background-color

        a
          color: #fff

      +respond-to('not-mobile', $no-query: true)
        a
          height: $nav-item-height
          line-height: $nav-item-height

#subnav
  +pie-clearfix
  font-weight: bold
  padding: 1em 0
  text-align: center
  height: 3em
  line-height: 3em

#language-switch
  +box-sizing('border-box')
  display: inline
  float: left
  width: 50%

#logout
  +box-sizing('border-box')
  display: inline
  float: left
  border-left: 1px solid $stroke-color
  width: 50%
